[submodule "home/dot-config/vis/plugins/vis-lspc"]
	path = home/dot-config/vis/plugins/vis-lspc
	url = https://github.com/alvaronaschez/vis-lspc
[submodule "home/dot-config/nvim/pack/nvim/start/nvim-lspconfig"]
	path = home/dot-config/nvim/pack/nvim/start/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig
[submodule "home/dot-config/nvim/pack/nvim/start/vim-fugitive"]
	path = home/dot-config/nvim/pack/nvim/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "home/dot-config/nvim/pack/nvim/start/gitsigns.nvim"]
	path = home/dot-config/nvim/pack/nvim/start/gitsigns.nvim
	url = https://github.com/lewis6991/gitsigns.nvim
